<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h1><%= @list.name %></h1>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th scope="row">Name</th>
            <td><%= @list.name %></td>
            <% @list.movies.each do |m| %>
            <%= m.title %>
            <% end %>
          </tr>
        </tbody>
      </table>
      <%= link_to "All lists", lists_path, class: 'btn btn-primary' %>
   </div>
  </div>
</div>
